---
name: Build code-server container image

on:
  push:
    branches: ["main"]
    paths:
      - "code-server/**"
  pull_request:
    branches: ["main"]
    paths:
      - "code-server/**"

jobs:
  get-code-server-version:
    runs-on: ubuntu-latest
    outputs:
      code-server-version: ${{ steps.get_version.outputs.code-server-version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Retrieve code-server version from Dockerfile
        id: get_version
        run: |
          version=$(awk -F: '/FROM.*code-server:/ { print $2 }' code-server/Dockerfile)
          echo "Found code-server version: $version"
          echo "code-server-version=$version" >> $GITHUB_OUTPUT
  build-code-server:
    needs: get-code-server-version
    uses: ./.github/workflows/generic-docker-build.yml
    with:
      image-folder: code-server
      image-tag: ${{ needs.get-code-server-version.outputs.code-server-version }}
      skip-dirs: "/usr/local/bin,/usr/lib/code-server/lib/vscode,/home/coder/.local/share/code-server/extensions,/home/coder/.krew/"
